$blue: #1698d9;
$lignt-blue: #2ea8e6;
$magenta: #d91667;
$light-magenta: #e62e7a;
$grey: #b3b3b3;
$yellow: #ffff66;
$black: #000;
$dark-grey: #666666;
$white: #fff;

$border-default: $blue;
$border-default-hover: $lignt-blue;
$border-selected: $magenta;
$border-selected-hover: $light-magenta;
$border-disabled: $grey;

$text-default: $black;
$text-additionals: $dark-grey;
$text-light: $white;
$text-footer: $white;
$text-footer-link: $blue;
$text-footer-disabled: $yellow;
