* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: 'Exo 2.0', arial;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('../fonts/Exo20-Thin.eot');
    src: url('../fonts/Exo20-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo20-Thin.woff2') format('woff2'),
        url('../fonts/Exo20-Thin.woff') format('woff'),
        url('../fonts/Exo20-Thin.ttf') format('truetype'),
        url('../fonts/Exo20-Thin.svg#Exo2.0-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
